@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 360px;
  height: 420px;
  min-height: 420px;
  font-family: -apple-system,'Montserrat', sans-serif;
  @apply 
  dark:bg-zinc-800 
  dark:text-zinc-200 
  bg-zinc-50
  text-zinc-600
}

#app {
  height: 100%;
}

input {
  @apply 
    h-9 
    dark:bg-zinc-700 
    bg-zinc-200
    dark:text-zinc-300
    text-zinc-600
    p-2.5 
    rounded-md 
    outline-none
    text-xs
    font-medium;
}

button.primary {
  @apply 
    bg-blue-500 
    p-2 
    rounded-md 
    text-xs
    text-white
    flex 
    h-9 
    items-center 
    justify-center 
    shadow-md 
    hover:opacity-90 
    disabled:opacity-50 
    duration-200
} 
